CLAUDE.md
.claude/

temp.txt
.env
.env.*

scripts/export_variables.sh
scripts/list_variables.sh
eks-manifests/argocd/redis-secret.yaml
eks-manifests/argocd/repos/repo-secret.yaml
eks-manifests/argocd/repos/rag-api-repo-secret.yaml
