apiVersion: v1
kind: Secret
metadata:
  name: project1-infrastructure-repo-secret
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
  type: git
  url: https://github.com/$GITHUB_USERNAME/project1_infrastructure
  password: $GITHUB_PAT
  username: $GITHUB_USERNAME
